main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

main form {
  width: 50%;
  padding: 20px;
  border: 2px solid #006633;
  border-radius: 8px;
  background-color: #f9f9f9;
}

main form .input-group label {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  color: #006633;
}

main form .button-container {
  margin-top: 10px;
  text-align: center;
}

main form .button-container button {
  background-color: #006633;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main form .button-container button:hover {
  background-color: #ffd700;
  color: #000000;
}
